<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Static/applynow.css">
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Baloo+Thambi+2&family=Pacifico&display=swap" rel="stylesheet">
    <title>Apply Now</title>
</head>
<body id="body">
    <div class="navbar">    
        <a href="/"><img src="../content/R.png" alt="Brand Logo"> </a>
        <div class="btn"  onclick="btn1()">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div> 
    </div>

    <div class="sidebar" id="sidebar1">
        <ul>
            <a href="/"><li>Home</li></a>
            <a href="/ourteam"><li>Our Team</li></a>
            <a href="/applynow"><li>Apply Now</li>  </a>
            <a href="/bonuscontent"><li>Bonus Content</li> </a>    
        
            </ul>
    </div>
    <div id="translate">
        <div id="applynow" class="hidden">
            Apply Now to contribute in the success of the company
        </div>
        <div id="f-info" class="hidden" >
            Give appropriate answers to show your worth for the institution
        </div>


        <form action="" class="hidden" id="form">
        Name  <input type="text" required  >
        Age <input type="number" required >
         Email <input type="text" required>
         Something About Yourself <textarea name="adress" id="adress" required></textarea>
         Adress <textarea name="adress" id="adress" required></textarea>
         <input type="submit" class="submit" value="Submit" >
         <input type="reset" value="Clear Form" class="submit" />
        </form>







</div>
<script src="../Static/homepage.js"></script>
</body>
</html>