<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tora-Industries</title>
</head>
<body>
    <header class="header">
<ul>    
    <a href="/"> <img src="../content/industry-background-industrial-concept-27568932.jpg" alt="Brand Logo"> </a>
        <a href="/"><li>Home</li> </a>




    </ul>
</header>

</body>
</html>