<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Baloo+Thambi+2&family=Pacifico&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../Static/homepage.css">
    <title>Tora Industries</title>
</head>

<body id="body">
    <div class="navbar">    
        <a href="/"><img src="../content/RENEWED.png" alt="Brand Logo"> </a>
        <div class="btn"  onclick="btn1()">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div> 
    </div>

    <div class="sidebar" id="sidebar1">
        <ul>
            <a href="/"><li>Home</li></a>
            <a href="/ourteam"><li>Our Team</li></a>
            <a href="/applynow"><li>Apply Now</li>  </a>
            <a href="/bonuscontent"><li>Bonus Content</li> </a>    
        
            </ul>
    </div>

    <div id="translate">
    


    <div class="hidden" id="heading1">Welcome</div>
    
    <div class="hidden" id="s"> Some Info About Us </div> 
    <div id="info" class="hidden" >
        This Company was Founded by a group of friends. It started from a classroom and began to spread its name all over the world. Its Founding members are mentioned Below who are also known as the Tora Boys
    </div>

    <div class="hidden" id="h2">
        Our Proud Achievements
    </div>
    <div class="hidden member ">
        <img src="../content/haroon sharif scam.jpg" alt="h-01">
        <p>This highly talented individual was in need of a graphic card to pursue his career. When he contacted our company he recieved a graphic card for free as a donation. His happiness can be seen in the photo above. </p>
    </div>



    
    <footer id="footer" class="hidden"> Powered By: Basim Jangda
        <br> basimabid3@gmail.com
    </footer>
    
</div>    
<script src="../Static/homepage.js"></script>
</body>
</html> 