<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Static/homepage.css">
    <title>Document</title>
</head>

<body id="body">
    <div class="navbar">    
        <a href="/"><img src="../content/R.png" alt="Brand Logo"> </a>
    </div>
     <input type="checkbox" id="sidebarbtn" onclick="sidebarbtn()"  >  
    <span id="m-container"><div id="sidebar">
        <a href="/"><ul>Home</ul></a>
        <a href="/aboutus"><ul>About Us</ul></a>
        <a href="/applynow"><ul>ApplyNow</ul></a>
        <a href="/team"><ul>Our Team</ul></a>
    </div></span>
    
    
    
    
    
    
    
</body>
<script src="../Static/homepage.js"></script>
</html> 