/* CSS RESET CODE !!!!  */
body{padding: 0px;
    margin: 0px;  
    color: white;
    background-color: black;
    text-decoration: none;  
    list-style: none;
font-family: 'Baloo Thambi 2', cursive; }

    a{text-decoration: inherit;
    color: inherit;}


    .navbar{
        background-color: rgb(143, 143, 226);
        height: 5rem;
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: center;
        
    }
    .navbar img {
        height: 2rem;
        width: auto;
        transition: 0.5s all ease-in-out;
        
    }
    .navbar img:hover{
        transform: scale(1.2);
        
    }
    /* MOBILE DISPLAY CSS */
    @media screen and (max-width: 400px) , screen  and (max-height: 900px) {

        .navbar{
            z-index: -1;
        }
#m-container {
    
    align-items: flex-end;
    flex-direction: column;
    margin: 0rem 0rem 0rem 0rem;
    position: absolute;
    right: -5rem;    
    transition: 0.5s all ease; 
    display: none;
    font-family: 'Baloo Thambi 2', cursive;
    transition: all 0.5s ease;
}
.hidden {
    opacity: 0;
    transition: all 1s;
}

.show {
    opacity: 1;
}




#sidebarbtn  {
    content: url(/content/sidebar\ bars.png);
    height: 1.5rem;
    width: auto;
    position: relative;
    bottom: 3.5rem;
    right: 1rem;
    display: flex;
    align-items: flex-end;
    float: right;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px ;
    z-index: -0.5 ;
}
#sidebarbtn:checked {
    content: url(/content/Close.jpg);
}
#sidebarbtn:checked ~ #m-container{
    right: 2rem;
    
}
}

#heading1 {
    font-family: 'Pacifico', cursive;
    height: 10rem;
    font-size: 5rem;
display: flex;
    justify-content: center;
    width: auto;
    z-index: -1;
    
}
#s {
    font-size: 2rem;
    display: flex;
    justify-content: center;
}
#info {
    display: flex;
    text-align: center;
    
    font-size: 1.2rem;
}


